# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs/ImmersiveRailroading-1.12.2-forge-1.9.1.jar
libs/TrackAPI-1.2.jar
libs/UniversalModCore-1.12.2-forge-1.1.3.jar
